

<header>
  <nav class="navbar navbar-expand-md justify-content-sm-between navbar-light bg-light header-gradient">
    <div class="contaner-fluid">
      <a class="navbar-brand" href="/"><img src="/images/wikilogo.png" alt="logo" class="logo">Wiki Maps</a>
    </div>
        <button class="navbar-toggler" type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/createmaps"><button type="type" class="btn btn-outline-secondary btn-md" href="/login">Create Your Map</button></a>
        </li>
        <li class="nav-item active">
          <% if (user === null) { %>
            <a href="/login"><button type="type" class="btn login btn-outline-secondary btn-md" href="/login">Login</button></a>
          <% } else { %>
            <form class="form-inline" style="display:inline-flex" method="POST" action="/logout">
              <span>Logged in as: <%= user.email %>!</span>
              <button type="submit" class="btn btn-outline-secondary">Logout</button>
            </form>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>
</header>

