<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->


<header>
  <nav class="navbar navbar-expand-md justify-content-sm-between navbar-light bg-light fixed-top">
    <div class="contaner-fluid">
      <a class="navbar-brand" href="#"><img src="./images/wikilogo.png" alt="logo">Wiki Maps</a>
    </div>
        <button class="navbar-toggler" type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My Maps</a>
        </li>
        <li class="nav-item active">
          <button type="type" class="btn btn-outline-secondary btn-md">Login</button>
        </li>
      </ul>
    </div>
  </nav>
</header>
