<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link rel="stylesheet" href="/public/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/public/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/public/styles/layout.css" type="text/css " />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <%- include partials/_header.ejs %>
    </header>
    <div class="container map">
      <h3>My Google Maps Demo</h3>
      <div id="map"></div>
    </div>
    <!-- section with categories -->
    <div class="container padding">
      <div class="categories text-center">
        <div calss="col-12">
          <h1 calss="display-4 text-center">Categories</h1>
        </div>
        <hr>
      </div>
    </div>
    <!-- cards for categories section -->
    <div class="container cards padding">
      <!-- parks -->
      <div class="container-fluid padding">
        <div class="row padding">
          <div class="col-md-10">
            <div class="card">
              <img class="card-img-top" src="https://farm8.staticflickr.com/7413/12371216715_7e0b138859_o.jpg" alt="parks picture" class="img-thumbnail">
              <div class="card-body">
                <h4 class="card-title">Parks</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-outline-secondary">See List of Maps</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- restorants -->
      <div class="container-fluid padding">
        <div class="row padding">
          <div class="col-md-10">
            <div class="card">
              <img class="card-img-top" src="https://media.cntraveler.com/photos/5c1bcf0fa6a145617b7c7659/master/pass/The-Mackenzie-Room_katiecrossphotography-16.jpg" alt="restorants picture" class="img-thumbnail">
              <div class="card-body">
                <h4 class="card-title">Restaurants</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-outline-secondary">See List of Maps</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- map -->
    <script src="../public/scripts/mapFetcher.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXD5FUcV2yyZLRaY8ouajgQIEvqJMXH3A&callback=initMap"
    async defer></script>
  </body>
</html>
