body {

  margin-top: 100px;

  header {
    .navbar {
      padding: 20px;
    }

    .navbar li {
      padding-right: 20px;;
    }

    .nav-link {
      font-size: 1.1em !important
    }
  }
  #map {
    height: 400px;
    width: 100%;
   }

   .map {
    margin-top: 20px;
   }

  //  .toggle {
  //    display: none;
  //  }
   .point-description {
    display: none;
    margin: 10px;
    padding: 10px;

    b {
      color: purple;
    }
   }

   .name-details {
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
   }

   .point {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 100px;
   }
}
