// See: https://sass-lang.com/

body {
  margin-top: 150px;
  background-color: #EEE;
  color: #222;

  #map {
    height: 400px;
    width: 100%;
   }

   .map {
    margin-top: 20px;
   }

   header {
     .navbar {
      padding: 20px;
     }

     .navbar li {
       padding-right: 20px;;
     }

     .nav-link {
       font-size: 1.1em !important
     }

     .logo {
      width: 40px;
     }
   }

   .categories {
     width: 100%;
     padding-top: 20px;
   }


   .categories hr {
     border-top: 2px solid #b4b4b4;
     width: 100%;
     margin-top: 1.3rem;
     margin-bottom: 35px;
   }

   .cards {
      display: flex;
      margin-bottom: 30px;
   }
}


.header-gradient {
  background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
